liferay-aws-backup-restore:
    enabled: false
liferay-default:
    configmap:
        data:
            com.liferay.portal.store.s3.configuration.S3StoreConfiguration.config: |
                accessKey=""
                bucketName="$[env:S3_BUCKET_ID]"
                s3Endpoint=""
                s3PathStyle=B"false"
                s3Region="$[env:S3_BUCKET_REGION]"
                secretKey=""
    customEnvFrom:
        x-liferay-aws:
            -   secretRef:
                    name: managed-service-details
    customLabels:
        origin: liferay-aws
    customVolumeMounts:
        x-liferay-aws:
            -   mountPath: /opt/liferay/osgi/configs/com.liferay.portal.store.s3.configuration.S3StoreConfiguration.config
                name: liferay-configmap
                subPath: com.liferay.portal.store.s3.configuration.S3StoreConfiguration.config
    portalProperties: |
        dl.store.impl=com.liferay.portal.store.s3.S3Store
        jdbc.default.driverClassName=org.postgresql.Driver
        jdbc.default.password=${env.DATABASE_PASSWORD}
        jdbc.default.url=jdbc:postgresql://${env.DATABASE_ENDPOINT}:${env.DATABASE_PORT}/lportal?useUnicode=true&characterEncoding=UTF-8&useFastDateParsing=false
        jdbc.default.username=${env.DATABASE_USERNAME}
    resources:
        limits:
            cpu: 4000m
            memory: 12Gi
        requests:
            cpu: 2000m
            memory: 4Gi
    service:
        annotations:
            service.beta.kubernetes.io/aws-load-balancer-internal: "true"
        type: LoadBalancer
    volumeClaimTemplates:
        -   metadata:
                name: liferay-persistent-volume
            spec:
                accessModes:
                    -   ReadWriteOnce
                resources:
                    requests:
                        storage: 10Gi
                storageClassName: gp3