{{- if and .Values.git.credentials.token .Values.git.credentials.username -}}
{{- $parsedUrl := .Values.git.repository.url | urlParse -}}
apiVersion: v1
kind: Secret
metadata:
    labels:
    {{- include "liferayAWSBackupRestore.labels" . | nindent 8 }}
    name: {{ include "liferayAWSBackupRestore.gitCredentials.secretName" . }}
stringData:
    .git-credentials: |-
        https://{{ .Values.git.credentials.username }}:{{ .Values.git.credentials.token }}@{{ $parsedUrl.host }}
type: Opaque
{{- end -}}