apiVersion: v1
automountServiceAccountToken: true
kind: ServiceAccount
metadata:
    annotations:
        {{- toYaml .Values.serviceAccountAnnotations | nindent 8 }}
    labels:
    {{- include "liferayAWSBackupRestore.labels" . | nindent 8 }}
    name: {{ include "liferayAWSBackupRestore.name" . }}