{{- $accountId := .Values.aws.accountId -}}
{{- $cluster := .Values.aws.clusterName -}}
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "-90"
    name: kubernetes-config
spec:
    deploymentTemplate:
        spec:
            selector:
                matchLabels:
                    pkg.crossplane.io/provider: provider-kubernetes
            template:
                metadata:
                    annotations:
                        instrumentation.opentelemetry.io/inject-dotnet: "false"
                        instrumentation.opentelemetry.io/inject-java: "false"
                        instrumentation.opentelemetry.io/inject-nodejs: "false"
                        instrumentation.opentelemetry.io/inject-python: "false"
                        sidecar.opentelemetry.io/inject: "false"
                    labels:
                        pkg.crossplane.io/provider: provider-kubernetes
                spec:
                    containers:
                        -   name: package-runtime
                            resources:
                                limits:
                                    memory: 512Mi
                                requests:
                                    memory: 128Mi
                    serviceAccountName: provider-kubernetes
    serviceAccountTemplate:
        metadata:
            labels:
                app.kubernetes.io/managed-by: liferay-infrastructure-chart
            name: provider-kubernetes
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "-90"
    name: aws-ec2-config
spec:
    deploymentTemplate:
        spec:
            selector:
                matchLabels:
                    pkg.crossplane.io/provider: provider-aws-ec2
            template:
                metadata:
                    annotations:
                        instrumentation.opentelemetry.io/inject-dotnet: "false"
                        instrumentation.opentelemetry.io/inject-java: "false"
                        instrumentation.opentelemetry.io/inject-nodejs: "false"
                        instrumentation.opentelemetry.io/inject-python: "false"
                        sidecar.opentelemetry.io/inject: "false"
                    labels:
                        pkg.crossplane.io/provider: provider-aws-ec2
                spec:
                    containers:
                        -   name: package-runtime
                            resources:
                                limits:
                                    memory: 1.5Gi
                                requests:
                                    memory: 256Mi
                    serviceAccountName: provider-aws-ec2
    serviceAccountTemplate:
        metadata:
            annotations:
                eks.amazonaws.com/role-arn: arn:aws:iam::{{ $accountId }}:role/{{ $cluster }}-provider-aws-ec2-role
            name: provider-aws-ec2
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "-90"
    name: aws-iam-config
spec:
    deploymentTemplate:
        spec:
            selector:
                matchLabels:
                    pkg.crossplane.io/provider: provider-aws-iam
            template:
                metadata:
                    annotations:
                        instrumentation.opentelemetry.io/inject-dotnet: "false"
                        instrumentation.opentelemetry.io/inject-java: "false"
                        instrumentation.opentelemetry.io/inject-nodejs: "false"
                        instrumentation.opentelemetry.io/inject-python: "false"
                        sidecar.opentelemetry.io/inject: "false"
                    labels:
                        pkg.crossplane.io/provider: provider-aws-iam
                spec:
                    containers:
                        -   name: package-runtime
                            resources:
                                limits:
                                    memory: 512Mi
                                requests:
                                    memory: 128Mi
                    serviceAccountName: provider-aws-iam
    serviceAccountTemplate:
        metadata:
            annotations:
                eks.amazonaws.com/role-arn: arn:aws:iam::{{ $accountId }}:role/{{ $cluster }}-provider-aws-iam-role
            name: provider-aws-iam
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "-90"
    name: aws-opensearch-config
spec:
    deploymentTemplate:
        spec:
            selector:
                matchLabels:
                    pkg.crossplane.io/provider: provider-aws-opensearch
            template:
                metadata:
                    annotations:
                        instrumentation.opentelemetry.io/inject-dotnet: "false"
                        instrumentation.opentelemetry.io/inject-java: "false"
                        instrumentation.opentelemetry.io/inject-nodejs: "false"
                        instrumentation.opentelemetry.io/inject-python: "false"
                        sidecar.opentelemetry.io/inject: "false"
                    labels:
                        pkg.crossplane.io/provider: provider-aws-opensearch
                spec:
                    containers:
                        -   name: package-runtime
                            resources:
                                limits:
                                    memory: 768Mi
                                requests:
                                    memory: 128Mi
                    serviceAccountName: provider-aws-opensearch
    serviceAccountTemplate:
        metadata:
            annotations:
                eks.amazonaws.com/role-arn: arn:aws:iam::{{ $accountId }}:role/{{ $cluster }}-provider-aws-opensearch-role
            name: provider-aws-opensearch
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "-90"
    name: aws-rds-config
spec:
    deploymentTemplate:
        spec:
            selector:
                matchLabels:
                    pkg.crossplane.io/provider: provider-aws-rds
            template:
                metadata:
                    annotations:
                        instrumentation.opentelemetry.io/inject-dotnet: "false"
                        instrumentation.opentelemetry.io/inject-java: "false"
                        instrumentation.opentelemetry.io/inject-nodejs: "false"
                        instrumentation.opentelemetry.io/inject-python: "false"
                        sidecar.opentelemetry.io/inject: "false"
                    labels:
                        pkg.crossplane.io/provider: provider-aws-rds
                spec:
                    containers:
                        -   name: package-runtime
                            resources:
                                limits:
                                    memory: 1.5Gi
                                requests:
                                    memory: 256Mi
                    serviceAccountName: provider-aws-rds
    serviceAccountTemplate:
        metadata:
            annotations:
                eks.amazonaws.com/role-arn: arn:aws:iam::{{ $accountId }}:role/{{ $cluster }}-provider-aws-rds-role
            name: provider-aws-rds
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "-90"
    name: aws-s3-config
spec:
    deploymentTemplate:
        spec:
            selector:
                matchLabels:
                    pkg.crossplane.io/provider: provider-aws-s3
            template:
                metadata:
                    annotations:
                        instrumentation.opentelemetry.io/inject-dotnet: "false"
                        instrumentation.opentelemetry.io/inject-java: "false"
                        instrumentation.opentelemetry.io/inject-nodejs: "false"
                        instrumentation.opentelemetry.io/inject-python: "false"
                        sidecar.opentelemetry.io/inject: "false"
                    labels:
                        pkg.crossplane.io/provider: provider-aws-s3
                spec:
                    containers:
                        -   name: package-runtime
                            resources:
                                limits:
                                    memory: 512Mi
                                requests:
                                    memory: 128Mi
                    serviceAccountName: provider-aws-s3
    serviceAccountTemplate:
        metadata:
            annotations:
                eks.amazonaws.com/role-arn: arn:aws:iam::{{ $accountId }}:role/{{ $cluster }}-provider-aws-s3-role
            name: provider-aws-s3